.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.intro {
  display: flex;
  width: 100%;
  z-index: 4;
  border-bottom: 1px solid black;
 justify-content: space-around;
  background-color: #d1d1d1;
}

.hours { 
  padding-top: 15px;
  color: green;
  font-family: 'Gagalin';
}

.hours2 { 
  padding: 30px;
  color: green;
  font-family: 'Gagalin';
}

.banner {
  position: relative;
  width: 100%;
  transition: .4s ease-in-out;
  overflow: hidden;
  aspect-ratio: 3/3;
  max-height: 100vh;
}

.banner2 {
  position: relative;
  width: 100%;
  transition: .4s ease-in-out;
  overflow: hidden;
  aspect-ratio: 3/4;
  max-height: 100vh;
}

.background {
  filter: brightness(70%) grayscale(0%);
}

.bannerTxt {
  z-index: 2;
  position: absolute;
  bottom: 0;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  line-height: 1.5em;;
  font-family: 'Gagalin';
  opacity: 0.7;
  width: 100%;
  background-color: black;
}

.boxBtn {
  margin-top: 15px;
}

.btn {
  margin-top: 15px;
  padding: 8px 16px;
  letter-spacing: 0.1em;
  font-family: 'Gagalin';
  color: white;
  border-radius: 16px;
  border: 1px solid white;
  background-color: red;
}

.h3 {
  color: red;
  font-family: 'Gagalin';
  margin: 15px;
}

.phone {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.number {
  font-size: 1.5em;
  font-family: 'Gagalin';
  margin-left: 10px;
}

.snap {
  color: green;
  padding-top: 10px;
  width: 180px;
}

.footer {
  color: white;
  padding: 18px;
  text-align: center;
  width: 100%;
  font-family: 'Gagalin';
  background-color: black;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
